@(empForm: Form[models.users.Employee],aForm: Form[models.users.Address],employee: models.users.Employee)
@import helper._

@main("Add New Employee",employee) {
    <h3>Add New Employee</h3>
    <!--Displays possible login errors-->
    @if(empForm.hasGlobalErrors) {
        <p class="alert alert-warning">
            @for(e <- empForm.globalErrors) {
                @e.message<br/>
            }
    }
        </p>
    @if(aForm.hasGlobalErrors) {
        <p class="alert alert-warning">
            @for(e <- aForm.globalErrors) {
                @e.message<br/>
            }
        </p>
    }
    <!--the login form-->
    
        @form(action =routes.EmployeeCRUDController.addEmployeeSubmit, 'class -> "form-horizontal", 'role -> "form") {
            @* CSRF attack prevention *@
            @* This token, sent by the controller, will be used to authenticate
                the form submission as a means of avoiding cross-site request forgery *@
            @CSRF.formField
    
            @inputText(empForm)("email"), '_label -> "Email", 'class -> "form-control")
            @inputText(empForm)("name"), '_label -> "Name", 'class -> "form-control")
            @inputText(aForm)("address1"), '_label -> "Address 1", 'class -> "form-control")
            @inputText(aForm)("address2"), '_label -> "Address 2", 'class -> "form-control")
            @inputText(aForm)("town/city"), '_label -> "Town / City", 'class -> "form-control")
            @inputText(aForm)("eircode"), '_label -> "Eircode", 'class -> "form-control")
            @inputText(empForm)("jobTitle"), '_label -> "Job Title", 'class -> "form-control")
            @inputText(empForm)("workPhone"), '_label -> "Work Phone", 'class -> "form-control")
            @inputText(empForm)("salary"), '_label -> "Salary", 'class -> "form-control")
            @inputText(empForm)("password"), '_label -> "Password", 'class -> "form-control")
    
            @inputText(empForm)("role").copy(value=Some("employee")), '_label -> "", 'hidden -> "hidden")
            @inputText(empForm)(""), '_label -> "", 'hidden -> "hidden")
    
            <div class="actions">
                <input type="submit" value="Add/Update Employee" class="btn btn-primary">
                <a href="@routes.EmployeeCRUDController.usersEmployee()">
                    <button type="button" class="btn btn-warning"></button>
                </a>
            </div>
    }@* End of form *@
}